.add {
  font-family: 'Arboria', sans-serif;
  width: 100%;
  height: 4rem;
  border: none;
  color: #261E1E;
  background-color: transparent;
  cursor: pointer;
  perspective: 55rem;
  transition: 0.5s;
} 
.add:hover {
  opacity: 90%;
}
.add__content {
  transition: 0.7s;
  transform-style: preserve-3d;
}
.add:hover .add__content {
  transform: rotateY( 180deg );
}
.add__cart {
  position: absolute
}
.add__cart, .add__ok {
  display: grid;
  align-items: center;
  width: 100%;
  height: 4rem;
  backface-visibility: hidden;
  border: solid 0.1rem #bbbaba;
}
.add__ok {
  transform: rotateY( 180deg );
}
.add:focus .add__content {
  transform: rotateY( 180deg );
  background-color: #70ff99;
}
.add__img {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  width: 3rem;
}
.add__ok_img {
  width: 3rem;
  margin: 0 auto;
}
.details__sizes {
  display: -webkit-inline-flex;
  .details__radios input[type=radio] {
    all: unset;
    position: absolute;
  }
}
.details__label {
  cursor: pointer;
  .details__span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.1rem #E5E5E5;
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}
.details__radios input[type=radio]:checked + .details__span{
  background-color: #000000;
  color: #ffffff;
  transition: 0.3s;
}
.details__button {
  width: 25rem !important;
}
.group_products {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5rem;
}
.product {
  display: grid;
  align-items: end;
}
.product__img {
  justify-self: center;
  width: 100%;
  margin-bottom: 1rem;
}
.name_product {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  height: 10rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.name_product:hover {
  opacity: 50%;
}
.value_product {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: #D0403A;
}
.detail-add {
  display: grid;
}