.card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 15rem;
  background-color: #70ffed;
  margin: 5rem 0;
  padding: 0.5rem;
}
.description_card {
  display: grid;
  justify-content: center;
  align-content: end;
}
.description_card__desc {
  font-size: 2rem;
}
.description_card__manual {
  letter-spacing: 0.86rem;
  font-size: 2.4rem;
}
.card_title {
  display: grid;
  justify-self: end;
}
.card_title__span {
  font-size: 1.2rem;
  justify-self: end;
}
.title_manual {
  text-transform: uppercase;
  font-weight: 300;
}
@media only screen and (max-width: 700px) {
  .description_card__desc {
    font-size: 1.5rem;
  }
  .description_card__manual {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 630px) {
  .description_card__desc {
    font-size: 1.2rem;
    text-align: center;
  }
  .description_card__manual {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.4rem;
  }
  .title_manual {
    font-size: 2.5rem;
  }
  .description_card {
    margin-bottom: 2rem;
  }
}

