.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;
}
.blog__p {
  font-size: 2rem;
}
.blog__img {
  width: 100%;
}
.blog_master {
  max-width: 60rem;
}
.blog_master__img {
  width: 100%;
}
.blog_min {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
@media only screen and (max-width: 910px) {
  .blog {
    grid-template-columns: 1fr;
  }
  .blog_master {
    justify-self: center;
  }
}
@media only screen and (max-width: 630px) {
  .blog {
    grid-gap: 0;
  }
  .blog_min {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .blog__p {
    margin-bottom: 3rem;
  }
}